<%- include('header.html') %>

<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet"  type="text/css" href="/css/style_projects.css">
  <title>Projects</title>
</head>

<body>  
  <h1>Hello, World!</h1>
  <hr>
    <p> Hi! My name is Ethan, and I am an MSc student studying computer science at StFX university. My focus is primarily on natrual language processing and evoluationary computation. I have experience with deep, supervised, unsupervised, and reinforcement learning. </p>
    <h3> Education </h3>
    <p> I have one </p>
    <h3> Hobbies </h3>
    <p> Maybe a few </p>

</body>
<hr>

<%- include('footer.html') %>
