<%- include('header.html') %>

<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet"  type="text/css" href="/css/style_projects.css">
  <title>Projects</title>
</head>

<body>  
  <h1>Hello, World!</h1>
  <hr>
    <p> Hi! My name is Ethan, and I am an MSc student studying computer science at StFX university. </p>
    <h4>  </h4>

</body>
<hr>

<%- include('footer.html') %>
