<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <title>Ethan's Projects</title>
</head>
<body>
  <h1>GitHub Repositories</h1>

  <div id="table"></div>

  <script>
    console.log("JS")
    fetch('https://api.github.com/users/VeiledTee/repos')
      .then(response => response.json())
      .then(data => {
        // Create an HTML table
        var table = '<table><tr><th>Name</th><th>Description</th></tr>';

        // Loop through the data and add each row to the table
        for (var i = 0; i < data.length; i++) {
          table += '<tr><td>' + data[i].name + '</td><td>' + data[i].description + '</td></tr>';
        }

        // Close the table
        table += '</table>';

        // Add the table to the page
        document.getElementById('table').innerHTML = table;
      });
  </script>
</body>
</html>
