<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ethan Heavey</title>
</head>
    <h1>
      Project Page
    </h1>
    <body>
        These are open-source projects I have worked on.
        <script>
          console.log("Hello");
        </script>
        <p>
          Text passed from projects.js file: <%= locals.text || "Default" %>
        </p>
        <p>
          Testing VS Code push
        </p>
        <!-- <div id="opensource-projects"></div>  -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <!-- JavaScript to load and display repos from GitHub -->
        <!-- <script>
        console.log(
          jQuery.getJSON("https://api.github.com/users/VeiledTee/repos")
        );
        </script> -->
        <!-- <script src="/routes/git_projects.js"></script> -->
        <script type = "text/javascript">  
          $(document).ready(function(){  
             document.write("Hello, JavaTpoint");  
          });  
       </script> 
    </body>
</html>