<%- include('header.html') %>

<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" type="text/css" href="/css/style_teaching.css" />
		<title>Teaching Experience</title>
	</head>

	<body>
		<h1>Teaching Experience</h1>
		<hr />
		A couple courses here and there.
	</body>
	<hr />

	<%- include('footer.html') %>
</html>
