<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  </head>
  <body>
    <h1>This is different</h1>
    <div>This text will be normal</div>
    <p>Also different</p>
  </body>
</html>
