<%- include('header.html') %>

<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet"  type="text/css" href="/css/style_test.css">
  <title>Test Page</title>
</head>
  <body>
    <h1>Test</h1>
</body>
</html>

<%- include('footer.html') %>