<%- include('header.html') %>

<!DOCTYPE html>
<html>
<head>
  <title>Test</title>
</head>
<body>
  <script>console.log("not file")</script>
  <h1>Test</h1>
  
  <script src="/JS/hello.js" type="application/javascript"></script>
</body>
</html>
