<!-- <html>
  <head>
    <link rel="stylesheet" type="text/css" href="/css/style_test.css">
  </head>
  </head>
  <body>
    <h1>This is different</h1>
    <div>This text will be normal</div>
    <p>Also different</p>
    <script>console.log("not file")</script>
    <script src="views\hello.js" type="text/javacsript"></script>
  </body>
</html> -->

<!DOCTYPE html>
<html>
<head>
  <title>Test</title>
</head>
<body>
  <script>console.log("not file")</script>
  <h1>Test</h1>
  
  <script src="/JS/hello.js" type="application/javascript"></script>
</body>
</html>
